body{

	background-color: white;

}

.header{

	background-color: grey;

}

#headerimg{

	display: inline;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.navbar li{

	display: inline;
	float: right;
	margin-top: 2px;
	margin-right: 2px;
}

.searchbar input{

	display:inline;
	margin: 2px 5px 2px 5px;

}

.searchbuttons{

	float: left;
	margin-left: 5px;
}

.searchbuttons li {

	display: inline;
	float: left;
	margin-left: 5px;
	clear: both;
	margin-top: 2px;

}

