* {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

body{

	background-color: white;
	margin: 0px 0px;

}

ul{

	list-style-type: none;

}
.header{

	background-color: grey;
	margin: 2px 5px;
	padding: 2px 5px;

}

#headerimg{

	display: inline-block;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.navbar li{

	display: inline-block;
	float: right;
	margin-top: 2px;
	margin-right: 2px;
}

.searchbar input{

	display:inline-block;
	float: left;
	clear: left;
	margin: 2px 5px 2px 5px;

}

.searchbuttons{

	
	margin-left: 5px;
	clear: both;
	display: inline-block
	margin-top: 5px;

}

.searchbuttons li {

	
	
	margin-left: 5px;
	clear: both;
	float: left;
	display: inline-block;
	margin-top: 2px;
	text-align: center;

}

.searchbuttons li a{

	text-decoration: none;
	
}

