* {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

body{

	background-color: white;
	margin: 0px 0px;

}

ul{

	list-style-type: none;

}

a{

	text-decoration: none;

}

a:hover{

	text-decoration: underline;
	text-decoration-color: blue;
}
.header{

	background-color: grey;
	

}

#headerimg{

	display: inline-block;
	float: ;

	
}

.navbar li{

	display: inline-block;

}

.searchbar input{

	
	

}

.searchbuttons{
	

}

.searchbuttons li {

	
	float:left;



}

.searchbuttons li a{

	
}

.results{

	background-color: white;

}

